/*ESTILO GENERAL*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    justify-content:center;
    align-items:center;
}

.contenedor_global {
    max-width:100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color:black;
}


/*----------------
HEADER
----------------*/
header {
    background-color:black;
    color:white;
    overflow-x:auto;
    max-width:100%;
    justify-content:center;
}

.header_contenido {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    padding:1rem 3rem;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/*----------------
MENÚ HAMBURGUESA DESPLEGABLE
----------------*/
#menú_items a { /*BLOQUE DESPLEGABLE*/
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 20px 0px;
    background-color:black;
    color: white;
}

#menú_nav label { /*ICONO HAMBURGUESA*/
    display: inline-block;
    font-size: 1.8rem;
    cursor: pointer;
}

#menú_items { 
    display: none;
    /*para que el depslegable no sea visible al inicio*/
}

#hamburguesa { 
    display: none;
    /*para que el checkbox no sea visible*/
}

#menú_nav input:checked ~ #menú_items {
    display: block;
    /*el desplegable será visible cuando el checkbox esté activado*/
}

/*----------------
SECCIONES HOME
----------------*/
.contenedor_home section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.5rem;
    width:100%;
    height: 400px;
}

.píkate {
    background-color:aqua;
}

.pikados {
    background-color:bisque;
}

.clubes {
    background-color:blueviolet;
}

.marcas {
    background-color:antiquewhite;
}


/*----------------
CTA "PÍKATE"
----------------*/
#píkate {
    position: sticky; /*fijo en pantalla*/
    bottom: 70px;
    left: 25%;
    width: 50%;
    text-align: center;
    background-color:rgb(27, 25, 25, 0.4);
    border-radius:5px;
    padding: 20px 50px;
    font-size: 1.2rem;
    font-weight: bold;
}

#píkate a {
    color:white;
}

#píkate:hover {
    border: 1px solid white;
}

/*----------------
SECCIONES PÍKATE
----------------*/

.deportista_o_marca section {
    padding: 50px;
    justify-content: center;
    border: none;
    font-size: 1.5rem;
    width:100%;
    height: 45vh; /*sumado a los 10vh de altura del header,todo ocupará
    justo el 100vh*/
}

.opción1 {
    background-color:aquamarine
}

.opción2 {
    background-color:blueviolet
}

/*----------------
FOOTER
----------------*/
footer {
    background-color:black;
    text-align: center;
    margin-top: -70px;
    padding-top: 8rem;
    padding-bottom: 10rem;
}

.logo_footer {
    font-weight: bold;
    margin-bottom: 3rem;
    color:white;
}

footer p {
    color:white;
}

/*----------------
DEFINICIÓN DE MEDIDAS
----------------*/
@media screen and (min-width:768px){

    #cuerpo {
        max-width: 100%;
        justify-content: center;
    }

    header {
        height: auto;
    }

    .header_contenido {
        justify-content: space-between;
    }

    /*----------------
    MENÚ HAMBURGUESA
    ----------------*/
    #menú_items {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    #menú_items a {
        width:auto;
        margin-left: 50px;
        justify-content: end;
        
    }

    #menú_nav label, #hamburguesa {
        display: none;
    }

    /*----------------
    OPCIONES "PÍKATE"
    ----------------*/
    .deportista_o_marca {
        display: flex;
        flex-flow: row nowrap;
        width:100vw;
        justify-content: center;

    }

    .deportista_o_marca section {
        font-size: 1.5rem;
        width: 50vw; /*cada opción ocupa el 50% de la pantalla*/
        height: 90vh; /*sumado a los 10vh de altura del header,todo ocupará
        justo el 100vh*/
    }


    #píkate {
        bottom: 100px;
        padding:30px 60px; 
        border-radius:10px;
        font-size: 2.5rem;
    }

    footer {
        margin-top: -110px;
    }
}