/*ESTILO GENERAL*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    justify-content:center;
    align-items:center;
}

body::-webkit-scrollbar { /*ocultar scrollbar en Chrome, Safari, Opera*/
    display: none;
}


.contenedor_global {
    max-width:100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color:black;
}

/*----------------
HEADER
----------------*/
header {
    background-color:rgb(187, 11, 11);
    color:white;
    overflow-x: auto;
    max-width: 100%;
    justify-content: center;
}

.header_contenido {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    padding:1rem 3rem;
    position: relative;
}

/*----------------
MENÚ HAMBURGUESA DESPLEGABLE
----------------*/
#menú_items a { /*BLOQUE DESPLEGABLE*/
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 20px 0px;
    background-color:rgb(187, 11, 11);
    color: white;
}

#menú_nav label { /*ICONO HAMBURGUESA*/
    display: inline-block;
    font-size: 1.8rem;
    cursor: pointer;
}

#menú_items { 
    display: none;
    /*para que el depslegable no sea visible al inicio*/
}

#hamburguesa { 
    display: none;
    /*para que el checkbox no sea visible*/
}

#menú_nav input:checked ~ #menú_items {
    display: block;
    /*el desplegable será visible cuando el checkbox esté activado*/
}

#menú_nav input:not(:checked) ~ header {
    height:10vh;
    /*el header no desplegado ocupará el 10vh del total*/
}

/*----------------
SECCIONES HOME
----------------*/
.contenedor_home section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.5rem;
    width:100%;
    height: 400px;
}

.píkate {
    background-color:rgb(167, 201, 145);
}

.pikados {
    background-color:rgb(90, 149, 211);
}

.clubes {
    background-color:rgb(85, 150, 130);
}

.marcas {
    background-color:rgb(140, 60, 65);
}

/*----------------
CTA "PÍKATE"
----------------*/
#píkate {
    position: sticky; /*fijo en pantalla*/
    bottom: 100px;
    left: 25%;
    width: 50%;
    text-align: center;
    background-color:rgb(27, 25, 25, 0.4);
    border-radius:10px;
    padding: 30px 60px;
    font-size: 2.5rem;
    font-weight: bold;
}

#píkate a {
    color:white;
}

#píkate:hover {
    border: 1px solid white;
}

/*----------------
SECCIONES PÍKATE
----------------*/
.deportista_o_marca section {
    padding: 50px;
    justify-content: center;
    border: none;
    font-size: 1.5rem;
    width:100%;
    height: 30vh; /*sumado a los 10vh de altura del header,todo ocupará
    justo el 100vh*/
}

.deportista, .patrocinador {
    background-color:rgb(167, 201, 145);
}

.club {
    background-color:rgb(85, 150, 130);
}

/*----------------
FOOTER
----------------*/
footer {
    background-color:black;
    text-align: center;
    margin-top: -110px; /*elimina el espacio en blanco entre las secciones y el footer*/
    padding-top: 8rem;
    padding-bottom: 10rem;
}

.logo_footer {
    font-weight: bold;
    margin-bottom: 3rem;
    color:white;
}

footer p {
    color:white;
}

/*----------------
FORMULARIO DEPORTISTA
----------------*/
.formulario_deportista {
    background-color: white;
    color:black;
    justify-content: center;
    margin:50px 10%;
    border-radius: 10px;
}

.formulario_deportista h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.formulario_deportista input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.formulario_deportista label {
    font-size: 0.8rem;
    color:rgb(140, 60, 65);
    display: block;
}

#checkbox_rendimiento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 15px;
    height: 40px;
    margin-bottom: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    margin: 0;
}

#checkbox_rendimiento input:checked ~ #checkbox_rendimiento {
    background-color: rgb(140, 60, 65);
    color: white;
    border: none;
}

#nombre, #mi_patrocinador, #email {
    width: 100%;
}

#deporte, #localidad, #provincia, #tlf, #redes_sociales {
    width: 49%;
}

.formulario_deportista input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #bb0b0b;
    color: black;
    border: none;
    border-radius: 5px;
}

/*----------------
DEFINICIÓN DE MEDIDAS
----------------*/
@media screen and (min-width:768px) {

    #cuerpo {
        max-width: 100%;
        justify-content: center;
    }

    header {
        height: auto;
    }

    .header_contenido {
        justify-content: space-between;
    }

    /*----------------
    MENÚ HAMBURGUESA
    ----------------*/
    #menú_items {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    #menú_items a {
        width:auto;
        margin-left: 50px;
        justify-content: end;
        
    }

    #menú_nav label, #hamburguesa {
        display: none;
    }

    /*----------------
    OPCIONES "PÍKATE"
    ----------------*/
    .deportista_o_marca {
        display: flex;
        flex-flow: row nowrap;
        width:100vw;
        justify-content: center;

    }

    .deportista_o_marca section {
        font-size: 1.5rem;
        width: 33vw; 
        height: 90vh; /*sumado a los 10vh de altura del header,todo ocupará
        justo el 100vh*/
    }

    section.club {
        font-size: 1.5rem;
        width: 34vw;
        height: 90vh; /*sumado a los 10vh de altura del header,todo ocupará
        justo el 100vh*/
    }
}